section{
  width: 28rem;
  padding: 20px;
  background-color:#f1eeee;
  box-shadow: 7px 2px 2px #9d3232;
  border-radius: 24px;
  /* overflow-y:scroll ; */
}

section ::-webkit-scrollbar{
  display: none;
}

h2{
   font-size: 2rem;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text{
  height: 30%;
  width: 100%;
}
.todoList{
  display: flex;
  flex-direction: column;
  width: 100%;
  
  margin-top: 2.4rem;

}
.todoList .todoinput{
  display:flex;
  justify-content:center;
  align-items:center;
  width: 100%;
  height: 3rem;

}

input{
  height: 100%;
  width: 100%;
  background-color: rgb(198, 194, 194);
  border: none;
  outline: none;
  padding-inline-start: 2rem;
  border-radius: 20px;
  font-size: 17px;
  transition: all .4s ease-in-out;

}

input:hover{
  background-color: transparent;
  border: 1px solid #2c3e50;
}

button{
  width: 10rem;
  margin-block-start: 1rem;
}


/* 
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

ol{
  overflow: scroll;
  height: 16rem;
  width: 100%;
  margin-top: 1rem;
}

ol li{
  display: flex ;
  justify-content: space-between;
  font-size: 20px;
  padding: 20px;
  border-bottom: 1px solid rgb(50, 47, 47);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

.delete{
  cursor: pointer;
}



@media (max-width: 600px ) and (min-width:371px) {
  section{
    width: 22rem;
  }

  input{
    height: 90%;
  }
}

@media (max-width: 371px) {
  body{
    padding:20px
  }
  section{
    width: 28rem;
    padding: 20px;
    background-color:#f1eeee;
    box-shadow: 7px 2px 2px #9d3232;
    border-radius: 24px;
    display flex;
    justify-content:center;
    text-align:center;
    /* overflow-y:scroll ; */
  }

  h2{
    font-size:30px;
  }
}